<div class="head wrap">
<div class="section clearfix">
<h1 class="logo"><a href="/" title="工厂直招"><img src="/static/public/picture/logo.png" alt="工厂直招打工网"/></a></h1>
<link href="/static/public/css/city.css" rel="stylesheet" />
<script src="/static/public/js/popt.js"></script>
<script src="/static/public/js/cityset.js"></script>
<div class="site_select">
<div class="cur_site"><i class="ic ic_top_location"></i><em id="cur_site">新都区</em></div>
</div>
<ul class="nav">
<li><a href="/" class="cur a_a">首页<i class="ic_up"></i></a></li>
<li><a href="{:url('index/work/work')}" class="a_a">找工作<i class="ic_up"></i></a></li>
<li><a href="{:url('index/news/news')}" class="a_a">名企资讯<i class="ic_up"></i></a></li>
<li><a href="/News/" class="a_a">问答<i class="ic_up"></i></a></li>
<li><a href="/Active/active_zhaoshang2/" class="a_a">蓝领社区<i class="ic_up"></i></a></li>
</ul>
<div class="head_login"><a class="btns hover" href="/Login/index.html" rel="nofollow">登录</a><a class="btns" href="/Login/reg.html" rel="nofollow">注册</a></div>
</div>
</div>