<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
	<style type="text/css">
		body, html {width: 100%;height: 100%;margin:0;font-family:"微软雅黑";}
		#allmap{width:100%;height:500px;}
		p{margin-left:5px; font-size:14px;}
	</style>
	<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=9cf89okXBuME9qdlGLu6ArByE2ZTMWpl"></script>
	<title>{$recruits.name}</title>
</head>
<body>
	<div id="allmap"></div>
	<div class="description" style="margin:15px;">
	<h5>{$recruits.name}</h5>
	<p>{$recruits.description}</p>
    </div>
</body>
</html>
<script type="text/javascript">
	// 百度地图API功能
	var map = new BMap.Map("allmap");          
	map.centerAndZoom(new BMap.Point(116.404, 39.915), 11);
	var local = new BMap.LocalSearch(map, {
		renderOptions:{map: map}
	});
	local.search("{$recruits.province}{$recruits.city}{$recruits.area}{$recruits.zparea}");
</script>
